.container {
  width: 100%;
  min-width: 18em;
  max-width: 18em;
  min-height: 22em;
  font-family: var(--font_sec);
  cursor: pointer;
  border-radius: 0.8em;
  background: var(--color1);
  box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
  transition: box-shadow 0.2s ease;
  &:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  }
}
.wrapper_img {
  position: relative;
  width: 100%;
  height: 200px;
}
.img {
  width: 100%;
  height: 100%;
  border-radius: 0.65em 0.65em 0 0;
  object-fit: cover;
  position: absolute;
  top: 0;
  left: 0;
}
.wrapper_content {
  position: relative;
  padding: 0.5em;
  display: flex;
  flex-direction: column;
  gap: 1em;
}
.breed {
  color: var(--color4);
}
.weight {
  font-weight: 700;
  color: var(--color5);
}
.wrapper_list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  color: var(--color8);
  font-size: 0.8em;
}
.like_svg {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 24px;
  gap: 0.4em;
  svg {
    transition: transform 0.2s ease;
    &:hover {
      transform: translateY(-4px) scale(1.1);
    }
  }
}
.wrapper_flex {
  display: flex;
  justify-content: space-between;
}
.unlike_border {
  fill: var(--color3);
}
.like_full {
  fill: var(--color4);
}
.unlike {
  fill: var(--color1);
}
.allLikes {
  color: var(--color3);
  font-size: 0.8em;
  font-family: var(--font_sec);
}

.user_options {
  padding: 1em 0;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2em;
}

.edit,
.delete {
  border-radius: 0.8em;
  padding: 0.4em 0.8em;
  font-family: var(--font_sec);
  font-weight: bold;
  transition: transform 0.2s ease;
  outline: none;
  border: none;
  cursor: pointer;
  &:hover {
    transform: translateY(-4px);
  }
}

.edit {
  background-color: #7fdb68;
  color: #daffd1;
}
.delete {
  background-color: #db6868;
  color: #ffd1d1;
}

.created_by {
  color: var(--color3);
  font-size: 0.7em;
}
