@import url("https://fonts.googleapis.com/css2?family=Gloock&family=Montserrat+Alternates:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html{
  scroll-behavior: smooth !important;
}
:root {
  --color1: #393646;
  --color2: #4f4557;
  --color3: #6d5d6e;
  --color4: #e96479;
  --color5: #7db9b6;
  /* --color6: #f5e9cf;
  --color7: #eeddbb; */
  --color8: #fff9f1;

  --color1_op: #39364663;
  --color4_op: #e964788c;
  
  --font_main: "Gloock";
  --font_sec: "Montserrat Alternates";
}

body {
  background: var(--color8);
}
