.container {
  background: var(--color1);
  padding: 0.8em;
}
.text {
  letter-spacing: 2px;
  width: fit-content;
  color: var(--color3);
  font-family: var(--font_sec);
  font-size: 1em;
  margin: 0 auto;
  a {
    width: fit-content;
    position: relative;
    text-decoration: none;
    color: var(--color3);
    border: none;

    hr {
      position: absolute;
      right: 0;
      border-color: var(--color8);
      opacity: 0.6;
      width: 37%;
      transition: all 0.2s ease;
      transition-property: opacity, width;
    }
    transition: color 0.2s ease;
    &:hover {
      color: var(--color6);
    }
    &:hover hr {
      opacity: 1;
      width: 100%;
    }
  }
}
@media screen and (max-width: 600px) {
  .text {
    font-size: 0.7em;
  }
}
