.container {
  width: 100%;
  max-width: 1440px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
}
.perfil_img_link {
  width: 50px;
  height: 50px;
  position: relative;
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-4px);
  }
}
.perfil_img {
  border-radius: 25%;
}
.imgWrapper {
  width: 50px;
  height: 50px;
  background: var(--color5);
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
}
.form {
  width: 100%;
  max-width: 400px;
}
.input {
  width: 100%;
  font-size: 1em;
  padding: 1em 2em;
  border-radius: 1em;
  background: var(--color1);
  color: var(--color8);
  outline: none;
  font-family: var(--font_sec);
  border: none;
}
.buttonsWrapper {
  display: flex;
  align-items: center;
  gap: 1em;
}
.button {
  border-radius: 1em;
  font-size: 1em;
  font-family: var(--font_sec);
  background: var(--color4);
  color: var(--color8);
  font-weight: 600;
  padding: 1em;
  outline: none;
  border: none;
  cursor: pointer;
}
.button_create{
    background-color: var(--color8);
    border: 2px solid var(--color4);
    color: var(--color4);
}
.button:nth-child(2) {
  background-color: var(--color5);
}
.hover {
  transition: transform 0.2s ease;
  &:hover {
    transform: translateY(-4px);
  }
}
